
.judulbiologi{
  font-family: "poppins";
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 30%;
  margin: 0px;
}

.subjudulbiologi{
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 0px;
  padding-bottom: 30%;
}