.bulletdanjudul{
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin-left: 25%;
  margin-right: 18%;
  font-family: "poppins";
  }
  .tulisanjudul{
    color: rgba(127, 127, 127, 1);
    font-weight: 600;
    font-size: 22px;
  }

  .part1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 25%;
    margin-right: 18%;
  }

  .part2{
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-left:20px;
  }

  .indikatorsoal{
    background-color: rgba(102, 185, 145, 1);
    border-radius: 30px;
    font-weight: 500;
    font-family: "poppins";
    color: white;
    width: fit-content;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    margin-top: 10px;
  }

  .bagi2{
    display: grid;
    grid-template-columns: 300px 150px;
  }

  .bagi2mutasi{
    font-family: "poppins";
    font-size: 25px;
    font-weight: 600;
    color: rgba(56, 56, 56, 1);
    margin: 0px;
  }
  .tickbox{
    accent-color: rgba(90, 163, 128, 1);
    border-color: rgba(90, 163, 128, 1);
    width: 30px;
    height: 30px;
    margin-left: 100px;
  }

  .garispembatas{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 25%;
    margin-right: 18%;
  }
  .garisbatesan{
    width: 450px;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 50px;
    margin-bottom: 30px;
  }